<style>
  #main{
    background-image: rgba(58, 58, 158, 0.8);
  }
  h1{
    font-size: 90px;
    text-align: center;
  }
  #img-div{
    background-color: black;
    width: 100%;
  }
  #image {
    width: 50%;
    height: auto;
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #img-caption{
    font-size: 20px;
    color: white;
  }
  h2{
    font-size: 35px;
  }
  li{
    font-size: 25px;
    }
  footer{
    font-size:12px;
  }
  body{
  color: gold;
  font-family: georgia;
  }
  a{
  color: #ADEFD1FF;
}

</style>
